@font-face {font-family: "Lucida Sans Unicode";
    src: url("http://db.onlinewebfonts.com/t/bcccd674c3fe808a4b01b8914c6898d5.eot");
    src: url("http://db.onlinewebfonts.com/t/bcccd674c3fe808a4b01b8914c6898d5.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/bcccd674c3fe808a4b01b8914c6898d5.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/bcccd674c3fe808a4b01b8914c6898d5.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/bcccd674c3fe808a4b01b8914c6898d5.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/bcccd674c3fe808a4b01b8914c6898d5.svg#Lucida Sans Unicode") format("svg");
}

body {
	background-color: #bfbfbf;
}

/*Wrap*/


.wrap	{
	width: 909px;
	height: 1290px;
	margin: 0px auto;
	background-color: #fff;
	padding: 10px 46px 0px 45px;

	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	
}

/* /Wrap*/

/*HEADER*/

header {
	position: relative;
}

.phone img {
	float: left;
	margin-left: 7px;
	margin-top: 9px;
}

.phone_n {
	float: left;
	margin-left: 4px;
	margin-top: 11px;
	font-family: Arial; 
	font-size: 18px;
	color: #5e696d;
	letter-spacing: 0.45px;
}

.avtoriz	{
	float: left;
	margin-left: 15px; 
	margin-top: 4px;
	width: 495px;
	height: 26px;
	border-top: 1px solid #a6c3cf;
	border-left: 1px solid #d6e1e7;
	border-bottom: 1px solid #a6c3cf;
	border-radius: 4px;
	background: #1f6787;
	background: -moz-linear-gradient(top,  #1f6787 0%, #0c3357 100%);
	background: -webkit-linear-gradient(top,  #1f6787 0%,#0c3357 100%);
	background: linear-gradient(to bottom,  #1f6787 0%,#0c3357 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 );
	
	-webkit-box-shadow: 2px 2px 2px 0px rgba(199,199,199,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(199,199,199,1);
	box-shadow: 2px 2px 2px 0px rgba(199,199,199,1);
}

.head img {
	float: left;
	margin-top: 4px;
	margin-left: 7px;
}

.avtoriz_form {
	float: left;
	margin-top: 2px;
	margin-left: 4px;
}


.avtoriz_form input {
	height: 13px;
	width: 107px;
	padding: 0px;
	margin: 0px;
	font-size: 10px;
	padding-left: 3px;
	font-family: "Lucida Sans Unicode";
	letter-spacing: 0.3px;
	margin-right: 3px;
}

.avtoriz_enter ul li {
	float: left;
	margin-left: 4px;
}

.avtoriz_enter ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 10.5px;
	font-family: "Lucida Sans Unicode";
	line-height: 26px;
	letter-spacing: 0.04px;
}

.avtoriz_enter ul li img {
	text-align: center;
	margin-top: 8px;
}

.avtoriz_enter ul li:last-child {
	margin-left: 22px;
}

.avtoriz_enter ul li:last-child a {
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
	letter-spacing: 0.6px;
	color: #bfbfbf;
	text-decoration: underline;
}

.nav_top {
	float: left;
	margin-left: 16px;
	margin-top: 6px;
	border: 1px solid #bdc4c7;
	width: 75px;
	height: 19px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(189,196,199,1);
	-moz-box-shadow: 1px 1px 4px 0px rgba(189,196,199,1);
	box-shadow: 1px 1px 4px 0px rgba(189,196,199,1);
}

.nav_top li {
	float: left;
	padding-left: 8px;
}

.nav_top ul li:first-child {
	padding-left: 10px;
}

.nav_top ul li:last-child {
	padding-left: 9px;
}

.fon_logo img {	
	margin-top: 9px;
}

/*HEADMENU*/

.menu {
	position: relative;
	margin-top: 3px;
	height: 32px;
	border: 1px solid #0a1235;
	border-radius: 4px;
	background-color: background: rgba(143,141,143,1);
	background: -moz-linear-gradient(top, rgba(143,141,143,1) 0%, rgba(54,65,74,1) 4%, rgba(70,77,88,1) 5%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,141,143,1)), color-stop(4%, rgba(54,65,74,1)), color-stop(5%, rgba(70,77,88,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(143,141,143,1) 0%, rgba(54,65,74,1) 4%, rgba(70,77,88,1) 5%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(143,141,143,1) 0%, rgba(54,65,74,1) 4%, rgba(70,77,88,1) 5%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(143,141,143,1) 0%, rgba(54,65,74,1) 4%, rgba(70,77,88,1) 5%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(143,141,143,1) 0%, rgba(54,65,74,1) 4%, rgba(70,77,88,1) 5%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8d8f', endColorstr='#000000', GradientType=0 );
	box-shadow: -webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
}

.headMenu {
	float: left;
	padding-top: 8px;
	padding-left: 131px; 
}

.headMenu a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #b1bcc0;
	font-family: "Lucida Sans Unicode";
	font-size: 13.6px;
	padding-left: 15px;
	padding-right: 15px;
}

.headMenu a:hover {
	color: white;
	border-bottom: 1px solid #092036;
	border-radius: 20px;
	background-color: background: rgba(37,97,123,1);
	background: -moz-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(37,97,123,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,97,123,1)), color-stop(100%, rgba(37,97,123,1)));
	background: -webkit-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(37,97,123,1) 100%);
	background: -o-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(37,97,123,1) 100%);
	background: -ms-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(37,97,123,1) 100%);
	background: linear-gradient(to bottom, rgba(37,97,123,1) 0%, rgba(37,97,123,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25617b', endColorstr='#25617b', GradientType=0 );
}

.headMenu .payment {
	padding-left: 16px;
	padding-right: 11px;
}

.headMenu .articles {
	padding-left: 12px;
	padding-right: 7px;
}
.basket {
	float: right;
	font-size: 11px;
	padding-top: 1px;
	color: #8a9296;
	font-family: Arial;
}

.basket p {
	letter-spacing: 1px;
}

.basket .blue1 {
	padding-right: 10px;
	padding-left: 10px;
	color: #0d5a8f;
	font-size: 12px;
	letter-spacing: 0.4px;
}
.basket .amount {
	letter-spacing: 0.3px;
	font-size: 11px;
}
.basket .blue {
	padding-right: 14px;
	padding-left: 1px;
	color: #0d5a8f;
	font-size: 12px;
	}

.tovar {
	font-size: 11px;
	letter-spacing: 0.34px;
}

.imgBasket {
	padding-right: 8px;
}
/*/HEADMENU*/
/* /HEADER*/

/*inputBlock*/
.inputBlock {
	position: relative;
	margin-top: 10px;
	padding-left: 4px;	
}

.inputLeft {
	float: left;
	width: 413px;
	height: 132px;
	margin-top: 2px;
	margin-bottom: 19px;
	border: 1px solid #b0b0b1;
	border-radius: 19px;
	-webkit-box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	-moz-box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	}

.inputRight {
	float: right;
	width: 266px;
	height: 134px;
	margin-right: 5px;
	
	border: 1px solid #b0b0b1;
	border-radius: 19px;
	-webkit-box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	-moz-box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
}

.inputCenter {
	float: left;
	width: 191px;
	height: 135px;
	
	margin-left: 14px;
	border: 1px solid #b0b0b1;
	border-radius: 19px;
	-webkit-box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	-moz-box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
	box-shadow: 1px 2px 3px 1px rgba(153,153,153,1);
}

.main {
	clear: both;
	margin-left: 44px;
}

.left>ul>li>a {
	display: block;
	height: 25px;
	width: 148px;
	margin-bottom: 8px;
	margin-top: 13px;
	color: red;
	line-height: 25px;
	border: 1px solid #79878d;
	border-radius: 18px;	
	}

.left .first a  {
	width: 180px;
	margin-left: -5px;
	padding-left: 3px;
}


/* /inputBlock*/