@font-face {
    font-family: 'league_gothicregular';
    src: url('../Fons/leaguegothic-regular-webfont.eot');
    src: url('../Fons/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fons/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../Fons/leaguegothic-regular-webfont.woff') format('woff'),
         url('../Fons/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

    html {
        font-family: "league_gothicregular", OpenSans, Arial, sans-serif;
        box-sizing: border-box;
    }

.wrap {
    height: 2525px;
    width:100%;
}
@media (max-width: 480px) {

    /*******HEAD******/
    body {
        box-sizing: border-box;
    }

    .header {
        background-image:url(../Img/headSectionnImg.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        height: 20.43564%;
        border-bottom:1px solid #34263b;
    }

    .logo {
        display: block;
        position: relative;
        padding-top: 65px;
        text-align:center;
        padding-bottom:26px;
    }


        /******HEAD NAV*****/

    .header-list {
        position: relative;
        margin: 0 auto;
        text-align:center;
        width:244px;
        padding-top:14px;
        border-radius: 10px 10px 0 0;
    }

    .header-list a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .header-list:first-child {
        padding-bottom:14px;
    }

    .list--first  {
        border-bottom:2px solid #edbfff;
    }


    .header--dropdown {
        position: absolute;
        top: 100%;
        width:244px;
        border-radius: 0 0 10px 10px;
        display: none;
    }

    .header--li {
        line-height:45px;
        border-top:1px solid #45384b;
        border-bottom:2px solid #36283e;
    }

    .header--li:hover {
       border-bottom:2px solid #edbfff;
       background-color: rgba(69,56,75,.9);
    }

    .header-list:hover {
        background-color: rgba(69,56,75,.8);
        border-top:1px solid #45384b;
        border-bottom:1px solid #36283e;
    }

   .header-list:hover .header--dropdown {
        display: block;
       background-color: rgba(69,56,75,.8);
   }

    .header--a {
        width: 244px;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .header--menu__480-768 {
        display: none;
    }
}

